<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/img/photo.jpg" alt="" width="500" height="650">
    <h3><b>Daniel Vitor de Souza</b><br>
      Matrícula: 23102667 <br>
      Turma: ASD0304N</h3>
  </div>
</ion-content>